* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('Hotel.jpg');
    background-size: 1550px;
    background-position: top;
    background-repeat: no-repeat;
}

.container {
    background-color: #8f18df;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px;
    max-width: 100%;
    overflow-y: auto;
    max-height: 90vh;
}

h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
}

.secao {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px;
}

.secao h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.controleButton {
    width: 100%;
    padding: 10px;
    background-color: #5718a0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
}

.controleButton:hover {
    background-color: #4a0e87;
}
